<section class="w-full h-[60vh] flex justify-center items-center">
   <div >
    <h1 class=" text-center font-bold tracking-widest animate__animated animate__fadeInLeft" style="font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem)">HI , I am Ranjith</h1>
    <p class="text-center font-semibold text-gray-800 tracking-wide text-clamp animate__animated animate__fadeInUp" style="font-size: clamp(1.25rem, 0.61vw + 0.1rem, 1.58rem)">Wedding Photographer and Designer</p>
   </div>
</section>