<section class="w-full h-[70vh] flex justify-center items-center">
   <div >
    <h1 class=" text-center font-bold tracking-widest animate__animated animate__fadeInLeft" style="font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem)">HI , I am Ranjith</h1>
    <p class="text-center font-semibold text-gray-800 tracking-wide text-clamp animate__animated animate__fadeInUp">Wedding Photographer and Designer</p>
   </div>
</section>



<section class="bg-cover bg-no-repeat w-full bg-[url('/img/IMG-20241103-WA0021.jpg')] bg-gray-700 bg-blend-multiply">
   <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
       <h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Capturing Moments</h1>
       <h2 class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-white md:text-3xl lg:text-4xl">Creating Memories</h2>
       <h3 class="mb-4 text-xl font-extrabold tracking-tight leading-none text-white md:text-3xl lg:text-xl">Ranjith Babu_Photography</h3>

      
   </div>
</section>
